.playlists {
  display: grid;
  padding-top: 0px;
  grid-template-columns: repeat(5, 170px);
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 20px;
}

.playlists__title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.playlists_button {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
