.tags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  text-align: left;
  text-decoration: none;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.tags_table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tags_table th,
.tags_table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.tags_table th {
  background-color: #fbfbfb;
  font-weight: bold;
}

.tags_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.inputTag,
.inputValue {
  border: none;
  background-color: #fbfbfb;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

.inputTag:focus,
.inputValue:focus,
.inputTag:active,
.inputValue:active {
  outline: none;
  border: none;
}

.tags_button {
  position: fixed;
  bottom: 20px;
  right: 40px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.tags_table td:nth-child(2) {
  border-right: none;
}

.tags_table td:nth-child(3) {
  border-left: none;
}

.deleteIconWrapper {
  position: relative;
}

.deleteIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #758934;
  display: none;
}

.tagRow:hover .deleteIcon {
  display: block;
}
