
*

!public/
!public/**/*

!src/
!src/**/*

!assets/
!assets/**/*

!package*.json

!tsconfig*.json
!jsconfig*.json

!*config*.ts
!*config*.cts
!*config*.mts
!*config*.js
!*config*.cjs
!*config*.mjs

!vite*.ts
!vite*.cts
!vite*.mts
!vite*.js
!vite*.cjs
!vite*.mjs

!*.html

!*eslint*

!.prettier*

!.editorconfig*

!*.env*

!*.md

!LICENSE*

!.github/
!.github/**/*

!.gitignore

.DS_Store
./**/.DS_Store
