.playlist {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 170px;
  width: 170px;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #282828;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.playlist:hover {
  transform: scale(1.05);
}

.playlist__name {
  font-size: 16px;
  color: #ffffff;
  margin-top: auto;
  padding: 10px 0;
  font-family: "SteticaLight";
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 40px 40px;
}

.deleteIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.playlist:hover .deleteIcon {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modalContent {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modalContent > button {
  margin-right: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
