.input {
  display: flex;
  height: 40px;
  padding: 7px 30px;
  border-radius: 20px;
  color: #3c3c3c;
  border: 1px solid #758934;
  font-family: "SteticaLight";
  font-size: 18px;
  text-align: left;
  color: #405a01;
  margin-bottom: 15px;
}

.input:focus,
.input:active {
  border: 1px solid #758934;
  outline: 0px;
}

.input::placeholder {
  font-family: "SteticaLight";
  font-size: 18px;
  text-align: left;
  color: #a9a9a9;
}

.input:disabled {
  color: #ebebeb;
}

.input_error {
  border: 1px solid #c11030;
}
